/*
 * Empty Stylesheet file.
 */

.backgroud {
    
     -fx-background-color:#FAF0E6;
     
}
.label {
    -fx-font-size: 12pt;
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.button {
   -fx-background-color: #2F4F4F;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 11px;
    -fx-padding: 10 20 10 20;
}

.button:hover {
    -fx-background-color:#5F9EA0;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #B0E0E6;
  -fx-text-fill: black;
}

